Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-pn532==2.4.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.1
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
appdirs==1.4.4
binho-host-adapter==0.1.6
blinker==1.8.2
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.2
packaging==24.2
psutil==6.1.0
pyftdi==0.55.4
pyserial==3.5
pyshark==0.6
python3-nmap==1.9.1
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
simplejson==3.19.3
sysv-ipc==1.1.0
termcolor==2.5.0
typing_extensions==4.12.2
Werkzeug==3.1.1
